.container {
  max-width: 500px;
  margin: auto;
  padding: 16px;
  background: #f7f7f7;
  margin-bottom: 50px;
}

.card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}

.card h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 700;
}

.label,
.card label {
  display: block;
  margin-bottom: 8px;
  margin-top: 16px;
  font-weight: 500;
}

.bannerPreview {
  background: #f3f5f7;
  border-radius: 14px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bannerPreview h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.bannerPreview p {
  color: #666;
}

.bannerPreview img {
  width: 140px;
  object-fit: contain;
}

.fileInput {
  width: 100%;
  margin-top: 10px;
}

.note {
  margin-top: 8px;
  color: #777;
  font-size: 14px;
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 0 14px;
  margin-bottom: 14px;
  height: 56px;
}

.inputGroup svg {
  color: #16a34a;
}

.inputGroup input,
.inputGroup select {
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
  background: transparent;
}

.greenBtn {
  width: 100%;
  height: 54px;
  border: none;
  background: #16a34a;
  color: white;
  border-radius: 12px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.subTitle {
  color: #666;
  margin-bottom: 16px;
}

.requestCard {
  display: flex;
  gap: 14px;
  border: 1px solid #ececec;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 14px;
}

.avatar {
  width: 52px;
  height: 52px;
  background: #e8f8ee;
  color: #16a34a;
  font-size: 22px;
  font-weight: 700;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.requestInfo {
  flex: 1;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topRow h4 {
  font-size: 18px;
}

.requestInfo p {
  margin-top: 6px;
  color: #555;
}

.newBadge {
  background: #e8f8ee;
  color: #16a34a;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 13px;
}

.progressBadge {
  background: #e7f0ff;
  color: #2563eb;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 13px;
}

.outlineBtn {
  width: 100%;
  height: 54px;
  border: 2px solid #16a34a;
  background: white;
  color: #16a34a;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 480px) {
  .bannerPreview {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .bannerPreview img {
    width: 120px;
  }

  .card h2 {
    font-size: 24px;
  }
}